alertmanager:
  enabled: false
  alertmanagerSpec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: "agentpool"
              operator: In
              values:
              - "sysagentpool"
    tolerations: 
      - key: "CriticalAddonsOnly"
        operator: "Exists"
        effect: "NoSchedule"

grafana:
  image:
    repository: ${grafana_image}
    tag: ${grafana_image_tag}
    sha: ""
    pullPolicy: IfNotPresent

  sidecar:
    image:
      repository: ${grafana_k8s_sidecar_image}
      tag: ${grafana_k8s_sidecar_image_tag}
      sha: ""

  grafana.ini:
    auth.azuread:
      name: "Azure AD"
      enabled: true
      allow_sign_up: true
      client_id: ${grafana_auth_azuread_client_id}
      client_secret: ${grafana_auth_azuread_client_secret}
      scopes: openid email profile
      auth_url: https://login.microsoftonline.com/${grafana_auth_azuread_tenant_id}/oauth2/v2.0/authorize
      token_url: https://login.microsoftonline.com/${grafana_auth_azuread_tenant_id}/oauth2/v2.0/token
      allowed_domains:
      allowed_groups:
    server:
      root_url: ${grafana_url}

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "agentpool"
            operator: In
            values:
            - "sysagentpool"

  tolerations: 
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"

kube-state-metrics:
  image:
    repository: ${kube_state_metrics_image}
    tag: ${kube_state_metrics_image_tag}
    pullPolicy: IfNotPresent

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "agentpool"
            operator: In
            values:
            - "sysagentpool"

  tolerations: 
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"

prometheus-node-exporter:
  image:
    repository: ${node_exporter_image}
    tag: ${node_exporter_image_tag}
    pullPolicy: IfNotPresent

  tolerations: 
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"

prometheusOperator:
  image:
    repository: ${prometheus_operator_image}
    tag: ${prometheus_operator_image_tag}
    sha: ""
    pullPolicy: IfNotPresent

  prometheusConfigReloader:
    image:
      repository: ${prometheus_config_reloader_image}
      tag: ${prometheus_config_reloader_image_tag}
      sha: ""
  
  tolerations: 
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "agentpool"
            operator: In
            values:
            - "sysagentpool"


  admissionWebhooks:
    patch:
      enabled: true
      image:
        repository: ${kube_webhook_certgen_image}
        tag: ${kube_webhook_certgen_image_tag}
        sha: ""
        pullPolicy: IfNotPresent
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: "agentpool"
                operator: In
                values:
                - "sysagentpool"
      tolerations: 
        - key: "CriticalAddonsOnly"
          operator: "Exists"
          effect: "NoSchedule"

prometheus:
  prometheusSpec:
    image:
      repository: ${prometheus_image}
      tag: ${prometheus_image_tag}
      sha: ""
    retention: ${prometheus_retention}
    replicas: ${prometheus_replica}
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ${prometheus_storage_class_name}
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: ${prometheus_storage_size}

    tolerations: 
      - key: "CriticalAddonsOnly"
        operator: "Exists"
        effect: "NoSchedule"

    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: "agentpool"
              operator: In
              values:
              - "sysagentpool"

    resources:
      requests:
        memory: "12Gi"
        cpu: 1000m

    additionalScrapeConfigs: 
    - job_name: 'istiod'
      kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names:
          - istio-system
      relabel_configs:
      - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
        action: keep
        regex: istiod;http-monitoring

    - job_name: 'envoy-stats'
      metrics_path: /stats/prometheus
      kubernetes_sd_configs:
      - role: pod
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_container_port_name]
        action: keep
        regex: '.*-envoy-prom'
      metric_relabel_configs:
      - source_labels: [ http_conn_manager_prefix ]
        regex: '(0\.0\.0\.0_).*'
        action: drop